<% @organizations.each do |organization, teams| %>
  <div class="row">
    <div class="col-lg-12">
      <h3><%= organization %></h3>
      <% teams.each do |team| %>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <a href="<%= team_path(team) %>" class="team">
            <%= render :partial => "teams/team_preview", :locals => {:team => team} %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
