<div class="row">
  <% @teams.each do |team| %>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <a href="<%= set_team_path(:team_id => team["id"]) %>" class="team">
        <img src="<%= "#{team["organization"]["avatar_url"]}size=48" %>" class="team-avatar">
        <p class="team-organization-name"><%= team["organization"]["login"] %></p>
        <h4 class="team-name"><%= team["name"] %></h4>
      </a>
    </div>
  <% end %>
</div>
