<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "shared/head" %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <p>Please authenticate with GitHub to continue using the Issues application.</p>
        <a href="/auth/github"><i class="icon-github-alt"></i> <span><%= t('auth.github_html') %></span></a>
      </div>
    </div>
  </body>
</html>
