---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/teams?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1405797526'
      Etag:
      - '"3efd8bbaf09fed5ee82c957867dc0b45"'
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications,
        repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"Team B","id":203770,"slug":"team-b","permission":"admin","url":"https://api.github.com/teams/203770","members_url":"https://api.github.com/teams/203770/members{/member}","repositories_url":"https://api.github.com/teams/203770/repos","members_count":2,"repos_count":2,"organization":{"login":"hoytus","id":1892126,"url":"https://api.github.com/orgs/hoytus","repos_url":"https://api.github.com/orgs/hoytus/repos","events_url":"https://api.github.com/orgs/hoytus/events","members_url":"https://api.github.com/orgs/hoytus/members{/member}","public_members_url":"https://api.github.com/orgs/hoytus/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/1892126?","public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/hoytus","created_at":"2012-06-26T01:06:43Z","updated_at":"2014-03-13T21:52:51Z","type":"Organization"}},{"name":"Owners","id":744774,"slug":"owners","permission":"admin","url":"https://api.github.com/teams/744774","members_url":"https://api.github.com/teams/744774/members{/member}","repositories_url":"https://api.github.com/teams/744774/repos","members_count":2,"repos_count":2,"organization":{"login":"when-apps","id":7028797,"url":"https://api.github.com/orgs/when-apps","repos_url":"https://api.github.com/orgs/when-apps/repos","events_url":"https://api.github.com/orgs/when-apps/events","members_url":"https://api.github.com/orgs/when-apps/members{/member}","public_members_url":"https://api.github.com/orgs/when-apps/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/7028797?","public_repos":2,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/when-apps","created_at":"2014-03-22T04:58:37Z","updated_at":"2014-05-18T16:22:03Z","type":"Organization"}}]'
  recorded_at: Sat, 19 Jul 2014 18:18:46 GMT
recorded_with: VCR 2.9.2
