---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/teams/744774/members?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1405877661'
      Etag:
      - '"a0725bf81c34637428ba085268d63da1"'
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications,
        repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"jonmagic","id":623,"avatar_url":"https://avatars.githubusercontent.com/u/623?","gravatar_id":"0a5a5f09f2c85cc425f7b8db4c5e61c1","url":"https://api.github.com/users/jonmagic","html_url":"https://github.com/jonmagic","followers_url":"https://api.github.com/users/jonmagic/followers","following_url":"https://api.github.com/users/jonmagic/following{/other_user}","gists_url":"https://api.github.com/users/jonmagic/gists{/gist_id}","starred_url":"https://api.github.com/users/jonmagic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jonmagic/subscriptions","organizations_url":"https://api.github.com/users/jonmagic/orgs","repos_url":"https://api.github.com/users/jonmagic/repos","events_url":"https://api.github.com/users/jonmagic/events{/privacy}","received_events_url":"https://api.github.com/users/jonmagic/received_events","type":"User","site_admin":true},{"login":"jonmagic-test","id":3475511,"avatar_url":"https://avatars.githubusercontent.com/u/3475511?","gravatar_id":"2b5618c2dc94fb50ea61204e7f99a9f8","url":"https://api.github.com/users/jonmagic-test","html_url":"https://github.com/jonmagic-test","followers_url":"https://api.github.com/users/jonmagic-test/followers","following_url":"https://api.github.com/users/jonmagic-test/following{/other_user}","gists_url":"https://api.github.com/users/jonmagic-test/gists{/gist_id}","starred_url":"https://api.github.com/users/jonmagic-test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jonmagic-test/subscriptions","organizations_url":"https://api.github.com/users/jonmagic-test/orgs","repos_url":"https://api.github.com/users/jonmagic-test/repos","events_url":"https://api.github.com/users/jonmagic-test/events{/privacy}","received_events_url":"https://api.github.com/users/jonmagic-test/received_events","type":"User","site_admin":false}]'
  recorded_at: Sun, 20 Jul 2014 16:35:53 GMT
- request:
    method: get
    uri: https://api.github.com/teams/744774
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1405877661'
      Last-Modified:
      - Sat, 22 Mar 2014 04:58:37 GMT
      Etag:
      - '"479c99c268592536b4c1c48cf2d18a64"'
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications,
        repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"Owners","id":744774,"slug":"owners","permission":"admin","url":"https://api.github.com/teams/744774","members_url":"https://api.github.com/teams/744774/members{/member}","repositories_url":"https://api.github.com/teams/744774/repos","members_count":2,"repos_count":2,"organization":{"login":"when-apps","id":7028797,"url":"https://api.github.com/orgs/when-apps","repos_url":"https://api.github.com/orgs/when-apps/repos","events_url":"https://api.github.com/orgs/when-apps/events","members_url":"https://api.github.com/orgs/when-apps/members{/member}","public_members_url":"https://api.github.com/orgs/when-apps/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/7028797?","public_repos":2,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/when-apps","created_at":"2014-03-22T04:58:37Z","updated_at":"2014-05-18T16:22:03Z","type":"Organization"}}'
  recorded_at: Sun, 20 Jul 2014 16:35:54 GMT
recorded_with: VCR 2.9.2
