---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hoytus/acme/issues/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1407268346'
      Last-Modified:
      - Mon, 04 Aug 2014 17:47:59 GMT
      Etag:
      - '"a6aa4dec9a6437ceba2495b459bda0c2"'
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, delete_repo, gist, notifications,
        repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/hoytus/acme/issues/2","labels_url":"https://api.github.com/repos/hoytus/acme/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/hoytus/acme/issues/2/comments","events_url":"https://api.github.com/repos/hoytus/acme/issues/2/events","html_url":"https://github.com/hoytus/acme/pull/2","id":38217931,"number":2,"title":"Update
        README.md","user":{"login":"jonmagic-test","id":3475511,"avatar_url":"https://avatars.githubusercontent.com/u/3475511?v=2","gravatar_id":"2b5618c2dc94fb50ea61204e7f99a9f8","url":"https://api.github.com/users/jonmagic-test","html_url":"https://github.com/jonmagic-test","followers_url":"https://api.github.com/users/jonmagic-test/followers","following_url":"https://api.github.com/users/jonmagic-test/following{/other_user}","gists_url":"https://api.github.com/users/jonmagic-test/gists{/gist_id}","starred_url":"https://api.github.com/users/jonmagic-test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jonmagic-test/subscriptions","organizations_url":"https://api.github.com/users/jonmagic-test/orgs","repos_url":"https://api.github.com/users/jonmagic-test/repos","events_url":"https://api.github.com/users/jonmagic-test/events{/privacy}","received_events_url":"https://api.github.com/users/jonmagic-test/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","assignee":null,"milestone":null,"comments":0,"created_at":"2014-07-18T22:41:57Z","updated_at":"2014-07-18T22:42:01Z","closed_at":"2014-07-18T22:42:01Z","pull_request":{"url":"https://api.github.com/repos/hoytus/acme/pulls/2","html_url":"https://github.com/hoytus/acme/pull/2","diff_url":"https://github.com/hoytus/acme/pull/2.diff","patch_url":"https://github.com/hoytus/acme/pull/2.patch"},"body":"","closed_by":{"login":"jonmagic-test","id":3475511,"avatar_url":"https://avatars.githubusercontent.com/u/3475511?v=2","gravatar_id":"2b5618c2dc94fb50ea61204e7f99a9f8","url":"https://api.github.com/users/jonmagic-test","html_url":"https://github.com/jonmagic-test","followers_url":"https://api.github.com/users/jonmagic-test/followers","following_url":"https://api.github.com/users/jonmagic-test/following{/other_user}","gists_url":"https://api.github.com/users/jonmagic-test/gists{/gist_id}","starred_url":"https://api.github.com/users/jonmagic-test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jonmagic-test/subscriptions","organizations_url":"https://api.github.com/users/jonmagic-test/orgs","repos_url":"https://api.github.com/users/jonmagic-test/repos","events_url":"https://api.github.com/users/jonmagic-test/events{/privacy}","received_events_url":"https://api.github.com/users/jonmagic-test/received_events","type":"User","site_admin":false}}'
  recorded_at: Tue, 05 Aug 2014 19:08:08 GMT
recorded_with: VCR 2.9.2
