---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jonmagic/scriptular/issues/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1402292067'
      Last-Modified:
      - Sun, 08 Jun 2014 22:21:54 GMT
      Etag:
      - '"8ae47a2afeccbb98ba6d8c40053e9173"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/jonmagic/scriptular/issues/10","labels_url":"https://api.github.com/repos/jonmagic/scriptular/issues/10/labels{/name}","comments_url":"https://api.github.com/repos/jonmagic/scriptular/issues/10/comments","events_url":"https://api.github.com/repos/jonmagic/scriptular/issues/10/events","html_url":"https://github.com/jonmagic/scriptular/pull/10","id":3750878,"number":10,"title":"Add
        share-able link to output section","user":{"login":"johnkpaul","id":475621,"avatar_url":"https://avatars.githubusercontent.com/u/475621?","gravatar_id":"eee585a10c1d7c4f1f30e28077ffa720","url":"https://api.github.com/users/johnkpaul","html_url":"https://github.com/johnkpaul","followers_url":"https://api.github.com/users/johnkpaul/followers","following_url":"https://api.github.com/users/johnkpaul/following{/other_user}","gists_url":"https://api.github.com/users/johnkpaul/gists{/gist_id}","starred_url":"https://api.github.com/users/johnkpaul/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/johnkpaul/subscriptions","organizations_url":"https://api.github.com/users/johnkpaul/orgs","repos_url":"https://api.github.com/users/johnkpaul/repos","events_url":"https://api.github.com/users/johnkpaul/events{/privacy}","received_events_url":"https://api.github.com/users/johnkpaul/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","assignee":null,"milestone":null,"comments":7,"created_at":"2012-03-21T18:27:40Z","updated_at":"2012-03-23T01:42:10Z","closed_at":"2012-03-23T01:42:10Z","pull_request":{"url":"https://api.github.com/repos/jonmagic/scriptular/pulls/10","html_url":"https://github.com/jonmagic/scriptular/pull/10","diff_url":"https://github.com/jonmagic/scriptular/pull/10.diff","patch_url":"https://github.com/jonmagic/scriptular/pull/10.patch"},"body":"In
        working with someone remotely on javascript regular expressions, I really
        wanted the ability to share what I just worked on from within scriptular.
        Rather than copy and pasting each individual box, I figured it''d be useful
        to have a link. \r\n\r\nThe code changes should be pretty straightforward.
        I did have to change CSS to make the look and feel match the other output.
        Perhaps, additionally, we could add a \"share this\" widget and send the page
        to twitter/facebook and others.","closed_by":{"login":"jonmagic","id":623,"avatar_url":"https://avatars.githubusercontent.com/u/623?","gravatar_id":"0a5a5f09f2c85cc425f7b8db4c5e61c1","url":"https://api.github.com/users/jonmagic","html_url":"https://github.com/jonmagic","followers_url":"https://api.github.com/users/jonmagic/followers","following_url":"https://api.github.com/users/jonmagic/following{/other_user}","gists_url":"https://api.github.com/users/jonmagic/gists{/gist_id}","starred_url":"https://api.github.com/users/jonmagic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jonmagic/subscriptions","organizations_url":"https://api.github.com/users/jonmagic/orgs","repos_url":"https://api.github.com/users/jonmagic/repos","events_url":"https://api.github.com/users/jonmagic/events{/privacy}","received_events_url":"https://api.github.com/users/jonmagic/received_events","type":"User","site_admin":true}}'
  recorded_at: Mon, 09 Jun 2014 04:49:31 GMT
[...]
