<% content_for :header_nav do %>
  <%= render "navbar" %>
<% end %>

<h1>Editing bucket</h1>

<%= render 'form' %>

<%= form_for @bucket, :url => team_bucket_path(@team, @bucket), :method => "delete" do |f| %>
  <%= f.submit "Delete Bucket" %>
<% end %>
