<button class="js-issues-archive" href="<%= archive_prioritized_issues_path %>">Archive closed issues</button>
<div class="row js-buckets">
  <%= render :partial => "bucket", :collection => @buckets %>
</div>
