/*
= require octicons
*/

$grid-gutter-width: 5px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "buckets";
@import "teams";
@import "navbar";
@import "homepage";
@import "shared/form";
@import "shared/buttons";
@import "shared/clearfix";

.primary-content {
  padding: 0 8px 60px;
}

.container-fluid {
  padding: 0;
}
