// Place all the styles related to the buckets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bucket-header {
  text-align: center;
}

.bucket-list {
  min-height: 40px;
  margin: 0;
  padding: 0;
}

.bucket-list-issue {
  background-color: rgb(248,248,248);
  border: 1px solid rgb(231,231,231);
  list-style: none;
  margin: 0 8px 4px;
  padding: 10px;
  line-height: 1.6;
}

.bucket-list-issue-state {
  float: left;
  margin-right: 10px;
}
