// Place all the styles related to the buckets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bucket-header {
  text-align: center;
}

.bucket-list {
  min-height: 40px;
  margin: 0;
  padding: 0;
}

.issue {
  cursor: move;
  list-style: none;
  margin-bottom: 5px;
  position: relative;

  a {
    cursor: pointer;
  }

  &.collapsed {
    .issue-collapse, .issue-details {
      display: none;
    }
    .issue-expand {
      display: block;
    }
  }

  &:not(.collapsed) {
    .issue-expand {
      display: none;
    }
  }

  &.assigning {
    .issue-assignee {
      display: none;
    }
  }

  &:not(.assigning) {
    .issue-assignee-form {
      display: none;
    }
  }
}

.issue-state-toggle {
  float: left;
  margin-right: 10px;
}

.issue-link {
  margin-right: 6px;
}

.issue-details {
  margin: 10px 0 8px;
}

@mixin issue-label($color) {
  display: inline-block;
  background-color: $color;
  color: darken($color, 40);
  border: 1px solid darken($color, 5);
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 4px;
}

@mixin issue-label-link($color) {
  @include issue-label($color);

  &:hover {
    background-color: darken($color, 5);
    color: darken($color, 50);
    text-decoration: none;
  }
}

.issue-repository-label {
  @include issue-label-link(rgb(223, 240, 216));
}

.issue-assignee {
  @include issue-label-link(rgb(217, 237, 247));
}

.issue-label {
  @include issue-label(rgb(242, 222, 222));
}

.issue-toggle {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;

  img {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    opacity: 0.1;
  }
}

.issue-assignee-form {
  display: inline-block;
}

.issue-destroy-form {
  display: inline-block;
}
