.issue-url {
  min-width: 25em;
}

.navbar-default {
  box-shadow: none;
  background-image: none;
  border-radius: 0;
  min-height: 0;

  .main .octicon {
    margin-right: 7px;
  }
}

.navbar-nav li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

.navbar-nav .active > a {
  border-bottom-color: #86cbe9;
  font-weight: bold;

  background: transparent !important;
  box-shadow: none !important;
}
