.team {
  background-color: rgb(248,248,248);
  border: 1px solid rgb(231,231,231);
  display: block;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  width: 100%;
}

.team-name {
  line-height: 50px;
  font-size: 20px;
}

.team-avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.teams-link {
  top: -14px;
  left: 0px;
  height: 30px;
}

.teams-link-organization {
  font-size: 9px;
  margin-bottom: -6px;
}

.teams-link-change {
  font-size: 9px;
  margin-top: -6px;
}
