.team {
  background-color: rgb(248,248,248);
  border: 1px solid rgb(231,231,231);
  display: block;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  width: 100%;
}

.team-name {
  line-height: 50px;
  font-size: 20px;
}

.team-avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.teams-link {
  .divider {
    padding: 0 5px;
  }
  .teams-link-organization,
  .teams-link-name {
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
  }
}

.teams-link-change {
  margin-left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: bottom;
}
